* {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-size: 10px;
  background-color: #4f4f51;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: clamp(50px, 10vh, 100px);
  background-color: #2c2b30;
  box-shadow: 0px 10px 18px #2c2b30;
  color: white;
}
header i {
  font-size: 2.5rem;
  margin-right: 5px;
  color: #f58f7c;
}

.main-container {
  display: flex;
  justify-content: center;
}
.main-container .add-btn {
  position: fixed;
  top: clamp(65px, 13vh, 150px);
  cursor: pointer;
}
.main-container .add-btn:active {
  transform: scale(0.94);
}
.main-container .add-btn button {
  width: clamp(40px, 6vh, 80px);
  height: clamp(40px, 6vh, 80px);
  border-radius: 50%;
  border: none;
  background-color: white;
  box-shadow: 0px 10px 18px #2c2b30;
}
.main-container .add-btn button i {
  font-size: 2rem;
  color: #f58f7c;
}
.main-container .add-btn button:hover {
  transform: scale(1.1);
  background-color: #f58f7c;
  cursor: pointer;
}
.main-container .add-btn button:hover:active {
  transform: scale(0.94);
}
.main-container .add-btn button:hover i {
  color: white;
}

.lib-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: clamp(100px, 25vh, 250px);
  height: auto;
  width: clamp(300px, 55vh, 1500px);
  border-radius: 2rem;
}

.book-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: clamp(250px, 40vw, 600px);
  height: 80px;
  margin: 15px;
  padding: 15px;
  border-radius: 2rem;
  box-shadow: 0px 10px 18px #2c2b30;
}
.book-card .title-auth {
  display: flex;
  flex-direction: column;
}
.book-card .title-auth h2 {
  margin: 7px;
  color: #4f4f51;
}
.book-card .title-auth h3 {
  margin: 7px;
  color: #4f4f51;
}
.book-card .title-auth p {
  margin: 7px;
  font-size: 0.7rem;
  color: #4f4f51;
}
.book-card .btns-container {
  display: flex;
  flex-direction: column;
}
.book-card .btns-container button {
  margin: 5px 0;
  width: 75px;
  height: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.book-card .btns-container button:active {
  transform: scale(0.94);
}
.book-card .btns-container button:hover {
  transform: scale(1.1);
}
.book-card .btns-container .delete-btn {
  color: #f58f7c;
}

.no-read-btn {
  color: #f58f7c;
}

.read-btn {
  color: #00aeff;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 100ms ease-in-out;
  border: 1px solid #4f4f51;
  border: none;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}
.modal .modal-header {
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4f4f51;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #00aeff;
}
.modal .modal-header button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #f58f7c;
}
.modal .modal-header button:active {
  transform: scale(0.94);
}
.modal .modal-body {
  font-size: 1.2rem;
  padding: 10px 15px;
}
.modal .modal-body form {
  display: flex;
  flex-direction: column;
}
.modal .modal-body form input {
  margin-bottom: 10px;
  border-radius: 10px;
  border: 0.05px solid;
  background-color: white;
}
.modal .modal-body form button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #00aeff;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  width: 50%;
  margin: auto;
  margin-top: 20px;
}
.modal .modal-body form button:active {
  transform: scale(0.94);
}
.modal .modal-body form button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.modal .modal-body form button:hover:active {
  transform: scale(0.94);
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 100ms ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.page-end {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1rem;
}

@media (max-width: 550px) {
  body {
    font-size: 8px;
  }

  h3 {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
